########################
# Example config file
# Comments start with #
# There are restrictions for valid channel/rank numbers
 standard = DDR4
 channels = 1
 ranks = 1
 speed = DDR4_2400R
 org = DDR3_4Gb_x8
 cpu_tick = 8
 mem_tick = 3
# trace_type: CPU, DRAM
 trace_type = CPU
# record_cmd_trace: (default is off): on, off
 record_cmd_trace = off
# print_cmd_trace: (default is off): on, off
 print_cmd_trace = off

### Below are parameters only for CPU trace
# early_exit: (default is on): on, off
 early_exit = on
#
########################
