########################
# Example config file
# Comments start with #
# There are restrictions for valid channel/rank numbers
 standard = WideIO2
 channels = 8
 ranks = 1
 speed = WideIO2_1066
 org = WideIO2_8Gb
# trace_type: CPU, DRAM
 trace_type = CPU
# record_cmd_trace: (default is off): on, off
 record_cmd_trace = off
# print_cmd_trace: (default is off): on, off
 print_cmd_trace = off

### Below are parameters only for CPU trace
# early_exit: (default is on): on, off
 cpu_tick = 6
 mem_tick = 1
 early_exit = on
#
########################
