########################
# Example config file
# Comments start with #
# There are restrictions for valid channel/rank numbers
 standard = DSARP
 subarrays = 8
 channels = 1
 ranks = 1
 speed = DSARP_1333
 org = DSARP_8Gb_x8
# record_cmd_trace: (default is off): on, off
 record_cmd_trace = off
# print_cmd_trace: (default is off): on, off
 print_cmd_trace = off

### Below are parameters only for CPU trace
# early_exit: (default is on): on, off
 cpu_tick = 4
 mem_tick = 1
 early_exit = on
#
########################
